@font-face {
  font-family: GeoSlab703;
  font-display: swap;
  src: url("../fonts/GEO703BC.woff2") format("woff2"), url("../fonts/GEO703BC.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: GeoSlab703;
  font-display: swap;
  src: url("../fonts/GEO703MC.woff2") format("woff2"), url("../fonts/GEO703MC.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "GeoSlab703";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "GeoSlab703";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  touch-action: pan-x pan-y;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
body._loaded {
  opacity: 1;
  visibility: visible;
}
body._hold {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 0 0.75rem;
  background: url("../img/main/bg-main.jpg") center/cover no-repeat;
}
.wrapper_slot-game {
  background: url("../img/slot/bg-slot.jpg") center/cover no-repeat;
}
.wrapper._visible {
  display: flex;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  width: 11.25rem;
  min-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: #e8be2d;
  border: 2px solid #6d390c;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}
.button::before {
  content: "";
  position: absolute;
  top: -30%;
  left: -15%;
  width: 25px;
  height: 170%;
  transform: rotate(30deg);
  background-color: #fff;
  box-shadow: 0px 0px 15px #fff;
  animation: move-line 4s linear;
  animation-iteration-count: infinite;
}
.button:active {
  transform: translateY(2px);
}
.button._hold {
  opacity: 0.5;
  pointer-events: none;
}
.button p {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2142857143;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-text-stroke: 0.8px #8c5a14;
}

.preloader {
  background: url("../img/main/bg-main.jpg") center/cover no-repeat;
  width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.preloader._hide {
  display: none;
}

.acces-preloader {
  width: 90%;
  max-height: 85vh;
  padding: 1.5rem 1.5625rem 0.625rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
.acces-preloader._hide {
  display: none;
}
.acces-preloader__text {
  padding-bottom: 0.375rem;
}
.acces-preloader__button {
  margin: 0.875rem 0 1.25rem;
}

.text-pre {
  font-size: 0.8125rem;
  line-height: 1.1538461538;
  text-transform: capitalize;
  color: #ffffff;
}

.slotMachineNoTransition {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.slotMachineBlurFast {
  transition: all 0.1s ease 0.3s;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.slotMachineBlurMedium {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.slotMachineBlurSlow {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.slotMachineBlurTurtle {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.slotMachineGradient {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(25%, rgb(0, 0, 0)), color-stop(75%, rgb(0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
}

@keyframes move-line {
  0%, 79% {
    left: 1%;
    opacity: 0;
  }
  80% {
    opacity: 1;
    left: 10%;
  }
  91% {
    opacity: 1;
    left: 70%;
  }
  100% {
    opacity: 11;
    left: 110%;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.main__body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 59px);
}
.main__items {
  display: flex;
  margin: 0 -2.0625rem;
}
.main__item {
  padding: 0 2.0625rem;
}
.main__image {
  margin-bottom: 0.75rem;
}
.header__body {
  display: flex;
  justify-content: center;
  margin-top: 0.9375rem;
}
.item-money {
  width: 13rem;
  height: 2.75rem;
  background: rgba(63, 3, 2, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.item-money__money {
  font-size: 1.5625rem;
  line-height: 1.2;
  color: #ffffff;
  padding-right: 0.625rem;
}
.item-money__money._no-money {
  animation: no-money 0.5s ease 2;
}
.item-money__money._delete-money {
  animation: delete-money 0.5s ease;
}
.item-money__money._anim-add-money {
  animation: add-money 0.5s ease 2;
}
.item-money__icon {
  padding-top: 0.25rem;
}
.item-money__icon._anim-icon-jump {
  animation: jump_icon 5s ease;
}
.item-money__icon._anim-icon-jump-2 {
  animation: jump-2_icon 4s ease;
}
.item-money__icon._anim-icon-rotate {
  animation: rotate_icon 5s ease;
}
.item-money__icon._anim-icon-scale {
  animation: scale_icon 4s ease;
}

.slot__body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 73% 27%;
}
.slot__game {
  display: flex;
  align-items: center;
}
.slot__box {
  height: calc(100vh - 115px);
  padding-top: 0.625rem;
  width: 85vw;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 38.75em) {
  .slot__box {
    padding-top: 1.25rem;
  }
}
@media (min-width: 43.75em) {
  .slot__box {
    padding-top: 0.625rem;
  }
}
.slot__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@supports (width: clamp( 25rem , 9.7647058824rem  +  43.5294117647vw , 34.25rem )) {
  .slot__bg img {
    width: clamp( 25rem , 9.7647058824rem  +  43.5294117647vw , 34.25rem );
  }
}
@supports not (width: clamp( 25rem , 9.7647058824rem  +  43.5294117647vw , 34.25rem )) {
  .slot__bg img {
    width: calc(25rem + 9.25 * (100vw - 35rem) / 21.25);
  }
}
.slot__cont {
  display: flex;
  gap: 8px;
  width: 60vw;
  height: 58vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 8px;
  z-index: 3;
  overflow: hidden;
}
@media (min-width: 43.75em) {
  .slot__cont {
    height: 65vh;
  }
}
@media (min-height: 26.25em) {
  .slot__cont {
    height: 54vh;
    margin-top: 2.5rem;
  }
}
.slot__column {
  flex: 0 1 33.333%;
  position: relative;
}
.slot__column .slotMachineContainer {
  padding-top: calc(25vh - 10px);
}
@media (min-width: 43.75em) {
  .slot__column .slotMachineContainer {
    padding-top: calc(26vh - 10px);
  }
}
@media (min-height: 26.25em) {
  .slot__column .slotMachineContainer {
    padding-top: calc(23vh - 10px);
  }
}
.slot__item {
  height: calc(21vh - 1px);
  text-align: center;
  position: relative;
}
@media (min-height: 26.25em) {
  .slot__item {
    height: calc(18vh - 1px);
  }
}
@media (max-width: 37.5em) {
  .slot__item img {
    max-width: 90%;
  }
}
.slot__item_1 img {
  width: 3.75rem;
}
@media (min-width: 43.75em) {
  .slot__item_1 img {
    width: 4.375rem;
  }
}
.slot__item_2 img {
  width: 2.8125rem;
}
@media (min-width: 43.75em) {
  .slot__item_2 img {
    width: 3.4375rem;
  }
}
.slot__item_3 img {
  width: 3.1875rem;
}
@media (min-width: 43.75em) {
  .slot__item_3 img {
    width: 3.8125rem;
  }
}
.slot__item_4 img {
  width: 3.75rem;
}
@media (min-width: 43.75em) {
  .slot__item_4 img {
    width: 4.375rem;
  }
}
.slot__item_5 img {
  width: 3.75rem;
}
@media (min-width: 43.75em) {
  .slot__item_5 img {
    width: 4.375rem;
  }
}
.slot__item_6 img {
  width: 3.5625rem;
}
@media (min-width: 43.75em) {
  .slot__item_6 img {
    width: 4.1875rem;
  }
}

.actions-slot__body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.actions-slot__lobby {
  margin-bottom: 0.9375rem;
}
.actions-slot__block-bet {
  padding-bottom: 0.3125rem;
}
.actions-slot__item {
  width: 100%;
}
.actions-slot__button-auto {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 6.5rem;
}
.actions-slot__button-play {
  transition: all 0.3s ease 0s;
}
.actions-slot__button-play._hold {
  opacity: 0.5;
  pointer-events: none;
}

.block-bet {
  width: 100%;
}
.block-bet__controls {
  height: 2.75rem;
  background: rgba(63, 3, 2, 0.8);
  border: 2px solid #000000;
  border-radius: 7px;
  position: relative;
}
.block-bet__controls._hold {
  transition: all 0.6s ease 0s;
  pointer-events: none;
  opacity: 0.3;
}
.block-bet__minus, .block-bet__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.4375rem;
  height: 1.625rem;
  background: #3f0302;
  border: 2px solid #000000;
  border-radius: 7px;
}
.block-bet__minus span, .block-bet__plus span {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.16;
  color: #ffffff;
  margin-top: -0.1875rem;
}
.block-bet__minus {
  left: 5%;
}
.block-bet__plus {
  right: 5%;
}
.block-bet__bet {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.block-bet__coins {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2083333333;
  color: #ffffff;
  margin-right: 10px;
}
.block-bet__icon {
  margin-right: -20px;
}

.fortune {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fortune_bg-1 {
  transition: all 1s ease 0s;
  background: url("../img/game/bg-game-1.jpg") center/cover no-repeat;
}
.fortune_bg-2 {
  transition: all 1s ease 0s;
  background: url("../img/game/bg-game-2.jpg") center/cover no-repeat;
}
.fortune_bg-3 {
  transition: all 1s ease 0s;
  background: url("../img/game/bg-game-3.jpg") center/cover no-repeat;
}
.fortune__lobby {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
}
.fortune__block-bet {
  position: absolute;
  bottom: 0.625rem;
  left: 0.625rem;
  width: 13rem;
}
.fortune__item {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
}
.fortune__cube {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  transition: all 0.7s ease 0s;
}
.fortune__cube._hold {
  pointer-events: none;
  opacity: 0.8;
  transition: opacity 0.5s ease 1s;
}
.fortune__field._level-1 .fortune__hubble_1 {
  left: 5vw;
  bottom: 20vh;
}
.fortune__field._level-1 .fortune__hubble_2 {
  left: 17vw;
  bottom: 40vh;
}
.fortune__field._level-1 .fortune__hubble_3 {
  left: 29vw;
  bottom: 35vh;
}
.fortune__field._level-1 .fortune__hubble_4 {
  left: 45vw;
  bottom: 32vh;
}
.fortune__field._level-1 .fortune__hubble_5 {
  left: 59vw;
  bottom: 38vh;
}
.fortune__field._level-1 .fortune__hubble_6 {
  left: 72vw;
  bottom: 52vh;
}
.fortune__field._level-1 .fortune__hubble_7 {
  left: 85vw;
  bottom: 27vh;
}
.fortune__field._level-2 .fortune__hubble_1 {
  left: 5vw;
  bottom: 30vh;
}
.fortune__field._level-2 .fortune__hubble_2 {
  left: 17vw;
  bottom: 20vh;
}
.fortune__field._level-2 .fortune__hubble_3 {
  left: 29vw;
  bottom: 40vh;
}
.fortune__field._level-2 .fortune__hubble_4 {
  left: 45vw;
  bottom: 50vh;
}
.fortune__field._level-2 .fortune__hubble_5 {
  left: 59vw;
  bottom: 25vh;
}
.fortune__field._level-2 .fortune__hubble_6 {
  left: 72vw;
  bottom: 20vh;
}
.fortune__field._level-2 .fortune__hubble_7 {
  left: 85vw;
  bottom: 25vh;
}
.fortune__field._level-3 .fortune__hubble_1 {
  left: 5vw;
  bottom: 25vh;
}
.fortune__field._level-3 .fortune__hubble_2 {
  left: 17vw;
  bottom: 35vh;
}
.fortune__field._level-3 .fortune__hubble_3 {
  left: 29vw;
  bottom: 45vh;
}
.fortune__field._level-3 .fortune__hubble_4 {
  left: 45vw;
  bottom: 40vh;
}
.fortune__field._level-3 .fortune__hubble_5 {
  left: 59vw;
  bottom: 32vh;
}
.fortune__field._level-3 .fortune__hubble_6 {
  left: 72vw;
  bottom: 30vh;
}
.fortune__field._level-3 .fortune__hubble_7 {
  left: 85vw;
  bottom: 25vh;
}
.fortune__image-dot-green {
  position: absolute;
  top: 0.125rem;
  left: -0.125rem;
  opacity: 0;
  visibility: hidden;
}
.fortune__hubble {
  position: absolute;
}
.fortune__hubble._active .fortune__bomb {
  opacity: 1;
  visibility: visible;
}
.fortune__hubble._active .fortune__bonus {
  opacity: 1;
  visibility: visible;
  animation: move_bonus_up 0.5s ease 0.5s forwards;
}
.fortune__hubble._active .fortune__image-dot-green {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}
.fortune__hubble._active .fortune__box-bonus {
  transition: all 0.3s ease 0s;
  transform: scale(1);
  z-index: 11;
}
.fortune__dragon {
  position: absolute;
  left: 3vw;
  top: 32vh;
  width: 7.3125rem;
  height: 7.4375rem;
  transition: all 1.2s ease 0s;
}
.fortune__bomb {
  position: absolute;
  top: -2.5rem;
  left: 0.25rem;
  opacity: 0;
  visibility: hidden;
}
.fortune__bonus {
  position: absolute;
  top: 0.625rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
.fortune__count {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.2;
  color: #ffffff;
}
.fortune__btn-next-level {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  opacity: 0;
  visibility: hidden;
}
.fortune__btn-next-level._active {
  transition: all 0.5s ease 0.7s;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.fortune__box-bonus {
  position: absolute;
  top: 0rem;
  left: -2.1875rem;
  transform: scale(0);
}
.fortune__box-bonus._active .fortune__box-close {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.fortune__box-bonus._active .fortune__box-open {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease 0s;
}
.fortune__box-bonus._active .fortune__bonus {
  opacity: 1;
  visibility: visible;
  animation: move_bonus_up 0.5s ease 0.5s forwards;
}
.fortune__box-open {
  position: absolute;
  top: 0.625rem;
  left: -0.25rem;
  opacity: 0;
  visibility: hidden;
}

.loose {
  position: absolute;
  top: -200%;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  width: 100%;
  min-height: 100%;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease 0s;
}
.loose._active {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.loose__body {
  background: url("../img/slot/bg-slot-item.png") center/contain no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 70%;
  transform: translate(-50%, -50%);
}
.loose__image {
  position: absolute;
  left: 50%;
  top: -3.125rem;
  transform: translateX(-50%);
}
.loose__image_1 img {
  width: 10.375rem;
}
.loose__image_2 {
  left: 50.7%;
}
.loose__image_2 img {
  width: 5.8125rem;
}
.loose__btn-lobby {
  margin-bottom: 0.625rem;
}

.bonus {
  position: absolute;
  top: 30px;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.1);
  visibility: hidden;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease 0s;
}
.bonus._active {
  top: 0;
  opacity: 1;
  visibility: visible;
  z-index: 9;
}
.bonus._hold {
  pointer-events: none;
}
.bonus._hide {
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  top: 6.25rem;
}
.bonus__body {
  background: url("../img/slot/bg-slot-item.png") center/contain no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 70%;
  transform: translate(-50%, -50%);
}
.bonus__label {
  position: absolute;
  top: -0.625rem;
  left: 50%;
  transform: translateX(-50%);
}
.bonus__image {
  position: relative;
}
.bonus__image img {
  opacity: 1;
  visibility: visible;
}
.bonus__image._active img {
  transition: opacity 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
}
.bonus__image._active .bonus__open-image {
  opacity: 1;
  visibility: visible;
}
.bonus__image._active .bonus__open-image img {
  opacity: 1;
  visibility: visible;
}
.bonus__image._active .fortune__bonus {
  opacity: 1;
  visibility: visible;
  animation: move_bonus_up 0.5s ease 0.5s forwards;
}
.bonus__open-image {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0.75rem;
  left: 0;
  transition: opacity 0.5s ease 0s;
}

@keyframes jump_icon {
  0%, 69% {
    transform: translate(0, 0);
  }
  77% {
    transform: translate(0, -10px);
  }
  80% {
    transform: translate(2px, 0px);
  }
  82% {
    transform: translate(2px, -6px);
  }
  85% {
    transform: translate(3px, 0px);
  }
  87% {
    transform: translate(3px, -2px);
  }
  90% {
    transform: translate(3px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes jump-2_icon {
  0% {
    transform: translate(0, 0px);
  }
  85% {
    transform: translate(20px, -150px);
  }
  90% {
    transform: translate(0px, 0px);
  }
  92% {
    transform: translate(0px, -15px);
  }
  94% {
    transform: translate(0px, 0px);
  }
  96% {
    transform: translate(0px, -6px);
  }
  97% {
    transform: translate(0px, 0px);
  }
  98% {
    transform: translate(0px, -3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes rotate_icon {
  25% {
    transform: translate(80px, 0px) rotate(180deg);
  }
  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  75% {
    transform: translate(-80px, 0px) rotate(-180deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes rotate_icon {
  25% {
    transform: translate(80px, 0px) rotate(180deg);
  }
  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  75% {
    transform: translate(-80px, 0px) rotate(-180deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes scale_icon {
  25% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1.4) translateX(-30px) rotate(-90deg);
  }
  75% {
    transform: scale(1.4) translateX(0px) rotate(0deg);
  }
  90% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes move_bonus_up {
  100% {
    top: -1.875rem;
  }
}
@keyframes no-money {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 0, 0);
    transform: scale(1.1);
  }
}
@keyframes delete-money {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 155, 155);
    transform: translateY(3px);
  }
}
@keyframes add-money {
  100% {
    color: yellow;
    transform: translateY(-3px);
  }
}
